.col-sm-2 {
    padding: 5px;
    list-style: none;
	background-color:#FFE7B5;
	border: solid 2px #F8B332;
}

.sidebar-nav {
    margin-top: 5px;
    padding: 0;
    list-style: none;
	background-color:#FFE7B5;
	
}

.sidebar-nav li {
	border-bottom: solid 1px #FFFFFF;
}

.col-sm-10 {
	background-color:#AFAFAF;
}